- reactionToEmoji = {"funny": "ðŸ˜‚", "impressive": "ðŸ‘", "hooray": "ðŸŽ‰", "silly": "ðŸ˜œ", "avocado": "ðŸ¥‘"}

mixin reactions(reactions, clickable)
  if !clickable
    - reactions.sort((a, b) => b.count - a.count)
  .reactions.grayscale(class=(clickable === true ? 'clickable' : ''))
    each reaction in reactions
      if clickable === true
        span.reactions__button(class=(reaction.checked === true ? 'checked' : '') onclick="react('" + reaction.name + "')" data-reaction=reaction.name)
          b.reactions__count #{reaction.count ? reaction.count : ''} 
          | #{reactionToEmoji[reaction.name]}&nbsp;#{reaction.name[0].toUpperCase() + reaction.name.slice(1)}
      else if clickable !== true && reaction.count
        span.reactions__button(class=(reaction.checked === true ? 'checked' : '') + (clickable === true ? 'clickable' : '') data-reaction=reaction.name)
          b.reactions__count #{reaction.count}
          |  #{reactionToEmoji[reaction.name]}
