extends layout.pug

block variables
  - metaDescription = md.render(article.summary).replace( /(<([^>]+)>)/ig, '')
  - title = article.title
  - signable = false
  if article.image
    - metaImage = article.image
  if article.content.slice(-14) === '[[signatures]]'
    - article.content = article.content.slice(0, -14)
    - signable = true
    if typeof article.signedBy === 'undefined'
      - article.signedBy = []
      
  - metaType = 'article'

block append meta
  meta(property="og:article:author" content=article.author)
  link(rel="canonical" href="https://seewitheyesclosed.com/articles/" + article.id + "/")
  
block append resources
  link(rel="stylesheet" href="/assets/css/article.css")
  script(src="/assets/js/article.js" async)
  script(src="https://www.google.com/recaptcha/api.js" defer async)

block append head
  noscript
    style.
      .reactions.clickable .reactions__button {
        cursor: default;
      }
      .nope, #comments h3, #comments form, .bethefirst {
        display: none;
      }
      
block header
  h1.article__title #{article.title}
  p.article__details
    | <time datetime="#{new Date(article.date).toISOString().split('T')[0]}">#{article.date}</time> by #{article.author}
    br
    em #{Math.ceil(article.content.split(" ").length / 250)} minute read
  
block content
  #articleId.hidden #{article.id}
  article.article
    if parameters.err && parameters.err == 'a401'
      p.failure The name you chose is too long.
    .article__content!= md.render(article.content).replace(/<a\ /g, "<a target='_blank' rel='noopener' ").replace(/<img/g, "<img loading='lazy'").replace("<iframe", "<iframe loading='lazy'")
    if signable
      .article__sign
        p The people who have signed their names below hereby resolve to adhere to the guidelines above to their utmost ability.
        p Signed,
        each signatory in article.signedBy
          p(style='text-indent:0.25in') #{signatory}
        .article__sign__form
          +form('POST', `./sign`, [
            {
              label: 'Add your name',
              name: 'name',
              placeholder: 'Joe Cool'
            }
          ], 'Sign')
  aside.article__reactions
    h2 What did you think?
    include ./mixins/reactions.pug
    +reactions(article.reactions, true)
  if !cookies.subscribed
    aside.subscribe
      h2 Like the content?
      p I send out a weekly digest of new posts, projects, things I'm currently working on. If you'd like to be a part of that, subscribe below. Can't wait to see you there!
      p: a(href="https://digest.seewitheyesclosed.com" target="_blank" rel="noopener") Subscribe for updates!
      p: a(href="javascript:simplePost('/subscribe/nope');document.querySelector('.subscribe').innerHTML = `<p>👍 We won't ask you again. <a href='//digest.seewitheyesclosed.com' target='_blank' rel='noopener'>You can still subscribe if you like</a>, though!</p>`") Nah, I'm good.
  if related.length
    aside.related
      h2 Related Articles
      each listing in related
        div: a.related__article(href="../" + listing.id + "/")
          strong #{listing.title}
          br
          em #{listing.date} by #{listing.author}
  if article.comments !== false
    aside.comments#comments
      if article.comments.length === 0
        p.no-dropcap There aren't any comments yet.
          |
          |
          span.bethefirst Be the first!
      else if article.comments.length
        h2(style="text-align:left") #{article.comments.length} comments
        div
          each comment in article.comments
            .comment
              p
                img(src="https://api.hello-avatar.com/adorables/30/" + encodeURIComponent(comment.identifier),alt="Avatar")
                strong #{comment.author}&nbsp;&nbsp;
                span #{comment.time}
              div #{comment.message}
        h3 Post a Comment
      +form("POST", `./comment`, [
        {
          label: "Your Name",
          name: 'name',
          placeholder: "John Doe",
          value: parameters.name, 
          maxlength: 128,
          required: true
        },
        {
          label: "Your Comment",
          type: 'textarea',
          name: 'comment',
          value: parameters.comment,
          placeholder: 'What did you think?'
        }
      ], "Go!")
      if parameters.err
        if parameters.err == 401
          p.failure Please fill out the recaptcha.
        else if parameters.err == 400
          p.failure Please fill out all the fields.
  style.
    #g-recaptcha-response {
      display: block !important;
      position: absolute;
      margin: -78px 0 0 0 !important;
      width: 302px !important;
      height: 76px !important;
      z-index: -999999;
      opacity: 0;
    }
