extends layout.pug

block variables
  - metaDescription = md.render(article.summary).replace( /(<([^>]+)>)/ig, '')
  - title = article.title
  if article.image
    - metaImage = article.image
  
block append resources
  link(rel="stylesheet",href="/lib/article.css")
  script(src="https://www.google.com/recaptcha/api.js",defer,async)
  
block content
  if parameters.err
    if parameters.err == 401
      p.error Please fill out the recaptcha.
    else if parameters.err == 400
      p.error Please fill out all the fields.
  article.article
    header
      if article.image !== ""
        img.article__banner(src=article.image alt="Banner Image")
      h1.article__title #{article.title}
      p.article__details
        | #{article.date} by #{article.author}
        br
        em #{Math.ceil(article.content.split(" ").length / 250)} minute read
    .article__content!= md.render(article.content).replace("<a", "<a target='_blank' rel='noopener'").replace("<img", "<img loading='lazy'").replace("<iframe", "<iframe loading='lazy'")
  br
  .subscribe
    h2 Like the content?
    p I send out a weekly digest of new posts, projects, things I'm currently working on. If you'd like to be a part of that, subscribe below. Can't wait to see you there!
    a.button--red(href="https://digest.seewitheyesclosed.com" target="_blank" rel="noopener") Subscribe for updates!
  br
  .related
    h2 Related Articles
    each listing in related
      a.related__article(href="../" + listing.id + "/")
        strong #{listing.title}
        br
        em #{listing.date} by #{listing.author}
  br
  .tags
    h2 Tags
    != article.tags.map(tag => "<a href='../../?tag=" + tag + "' class='tag'>" + tag + "</a>").join(" ")
  br
  .comments
    if article.comments !== false
      h2(style="text-align:left") #{article.comments.length} comments
      div
        if article.comments.length === 0
          p There aren't any comments yet. Be the first!
        each comment in article.comments
          .comment
            p
              img(src="https://api.hello-avatar.com/adorables/30/" + encodeURIComponent(comment.identifier),alt="Avatar")
              strong #{comment.author}&nbsp;&nbsp;
              span #{comment.time}
            div #{comment.message}
      form#comment-form(method="post",action="/blog/article/" + article.id + "/comment")
        h3 Post a Comment
        input(name="name",type="text",placeholder="Your name here...", value=parameters.name,maxlength="128",required)
        textarea(name="comment",placeholder="Write your comment here...",maxlength="512",required) #{parameters.comment}
        .g-recaptcha(data-sitekey=siteKey)
        input(type="submit" value="Go!")
    else if article.comments === false
      p Comments have been disabled on this article.
  style.
    #g-recaptcha-response {
      display: block !important;
      position: absolute;
      margin: -78px 0 0 0 !important;
      width: 302px !important;
      height: 76px !important;
      z-index: -999999;
      opacity: 0;
    }
  script.
    window.onload = function() {
      var $recaptcha = document.querySelector('#g-recaptcha-response');
  
      if($recaptcha) {
        $recaptcha.setAttribute("required", "required");
      }
    };
