extends layout.pug

//- Define variables
block variables
  - title = "Blog"
  - metaDescription = "Here is where I reflect every week or so on the world as I see it. Hopefully you'll be interested in some of the stuff I do. I'll release information about events going on in my life, analyze quotes, reflect on music and/or books, and generally have a fun time. I think about all of these things on my own, but the blog is a fun way for me to invite you to step into my mind and take a look around. It's a big place!"
  
block append resources
  link(rel="stylesheet" href="/assets/css/article.css")
    
block append head
  noscript
    style.
      #searchbar {
        display: none;
      }
      .tag {
        cursor: default;
      }
    
block content
  header
    h1 See With Eyes Closed
    h2 A Blog
  #split
    .recent: .recent__center
        span.accessibility Search Articles:
        input.searchbar#searchbar(type="search" oninput="searchArticles()" autocomplete="false" placeholder="Search articles..." value=(parameters.tag !== undefined ? "tag:" + parameters.tag : ""))
        #typoWarning(style="display:none;padding:0.5em") Hmm... I don't see that article. Try looking around for something else. Make sure to check for typos! I hope to see you in the article you're looking for.
        include ./mixins/reactions.pug
        each post in recent
          if ((new Date(post.date)).getTime() <= Date.now())
            article.recent__article
              if (post.image !== "")
                a.article__banner(href="/blog/article/" + post.id + "/"): img(src=post.image alt="Banner Image" loading="lazy")
              h1.article__title
                a(href="/blog/article/" + post.id + "/") #{post.title}
              p.article__details #{post.date} by #{post.author}
                br
                | #{Math.ceil(post.content.split(" ").length / 250)} minute read
              
              != md.render(post.summary).replace("<a", "<a target='_blank' rel='noopener'")
              p: a(href="./article/" + post.id + "/") Read the full article
              
              if (post.reactions.filter(r => r.count).length)
                h4 What people thought:
                +reactions(post.reactions)
                
              p!= post.tags.map(tag => "<a href='./?tag=" + tag + "#top' class='tag' data-id='" + tag + "'>" + tag + "</a>").join(" ")
    .popular
      .popular__sticky
        h3 Popular Articles
        each post in popular
          a.popular__article(href="/blog/article/" + post.id + "/") 
            strong #{post.title}
            br
            | #{post.date} by #{post.author}
        if !cookies.subscribed
          .subscribe
            h3 Like the content?
            p I send out a weekly digest of new articles, projects, and things I'm working on.
            a.button--red(href="https://digest.seewitheyesclosed.com" target="_blank" rel="noopener") Subscribe for updates!
    script.
      function searchArticles() {
        var input, filter, container, articles, count;
        input = document.getElementById('searchbar');
        filter = input.value.toUpperCase().trim();
        container = document.querySelector(".recent");
        articles = container.getElementsByTagName('article');
        var count = 0;
        
        if (filter.slice(0,4) === "TAG:") {
          var match = document.querySelectorAll(".tag[data-id='" + filter.slice(4).toLowerCase() + "']");
          
          for (var a in articles) {
            var shouldContinue = false;
            for (var m in match) {
              if (match[m].parentNode !== undefined && match[m].parentNode.parentNode == articles[a]) {
                shouldContinue = true;
                continue;
              }
            }
            if (shouldContinue) {
              articles[a].style.display = "";
              count++;
              continue;
            }
            if (articles[a].style !== undefined) articles[a].style.display = "none";
          }
          if (count == 0) {
            document.getElementById("typoWarning").style.display = "block";
          } else {
            document.getElementById("typoWarning").style.display = "none";
          }
          return;
        }

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < articles.length; i++) {
          if (articles[i].innerText.toUpperCase().indexOf(filter) > -1) {
            count++;
            articles[i].style.display = "";
          } else {
            articles[i].style.display = "none";
          }
        }
        if (count == 0) {
          document.getElementById("typoWarning").style.display = "block";
        } else {
          document.getElementById("typoWarning").style.display = "none";
        }
      }
      document.onload = searchArticles();
