extends layout.pug

block variables
  - metaDescription = md.render(summary).replace( /(<([^>]+)>)/ig, '')
  
block content
  article.article
    header
      if image !== ""
        img.article__banner(src=image,alt="Banner Image")
      h1.article__title #{title}
      p.article__details
        | #{date} by #{author}
        br
        em #{Math.ceil(content.split(" ").length / 250)} minute read
    .article__content!= md.render(content)
