extends layout.pug

block variables
  - metaDescription = summary.replace( /(<([^>]+)>)/ig, '')
  
block content
  article.article
    header
      if image !== ""
        img.article__banner(src=image,alt="Banner Image")
      h1.article__title #{title}
      p.article__details
        | #{date} by #{author}
        br
        em #{readingTime} minute read
    .article__content !{content}
