extends layout.pug

//- Define variables
block variables
  - title = "Blog"
  - metaDescription = "Here is where I reflect every week or so on the world as I see it. Hopefully you'll be interested in some of the stuff I do. I'll release information about events going on in my life, analyze quotes, reflect on music and/or books, and generally have a fun time. I think about all of these things on my own, but the blog is a fun way for me to invite you to step into my mind and take a look around. It's a big place!"
  
block append resources
  link(rel="stylesheet",href="/lib/article.css")
    
block content
  header
    h1 See With Eyes Closed
    h2 A Blog
  #split
    .recent 
      .recent__center
        each post in recent
          article.recent__article
            if (post.image !== "")
              img.article__banner(src=post.image,alt="Banner Image")
            h1.article__title
              a(href="./article/" + post.id + "/") #{post.title}
            p.article__details #{post.date} by #{post.author}
              br
              | #{Math.ceil(post.content.split(" ").length / 250)} minute read
            != md.render(post.summary)
            p
              a(href="./article/" + post.id + "/") Read the full article
            p
              != post.tags.split(",").map(tag => "<a href='./tag/" + tag + "/' class='tag'>" + tag + "</a>").join(", ")
    .popular
      .popular__sticky
        h3 Popular Articles
        each post in popular
          a.popular__article(href="./article/" + post.id + "/") 
            strong #{post.title}
            br
            | #{post.date} by #{post.author}
