extends layout.pug

block variables
  - metaDescription = md.render(article.summary).replace( /(<([^>]+)>)/ig, '')
  - title = article.title
  
block append resources
  link(rel="stylesheet",href="/lib/article.css")
  
block content
  article.article
    header
      if article.image !== ""
        img.article__banner(src=article.image,alt="Banner Image")
      h1.article__title #{article.title}
      p.article__details
        | #{article.date} by #{article.author}
        br
        em #{Math.ceil(article.content.split(" ").length / 250)} minute read
    .article__content!= md.render(article.content)
  br
  .related
    h2 Related Articles
    each listing in related
      a.related__article(href="../" + listing.id + "/")
        strong #{listing.title}
        br
        em #{listing.date} by #{listing.author}
  br
  .tags
    h2 Tags
    != article.tags.split(",").map(tag => "<a href='../../tag/" + tag + "/' class='tag'>" + tag + "</a>").join(", ")
