doctype html
html(lang='en-us' data-size=(cookies.size || 3) data-theme=(cookies.theme || 'light') data-font-family=(cookies.fontFamily || 'serif'))
  head
    block head
      //- metaImage = "https://seewitheyesclosed.com/assets/images/homepage/2.jpg"
      block variables
      block meta
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content=metaDescription)
        meta(property="og:title" content=(hardTitle || title))
        meta(property="og:type" content=(metaType || 'website'))
        meta(property="og:description" content=metaDescription)
        //-meta(property="og:image" content=metaImage)
      block resources
        link(rel="preload" href="/assets/fonts/Chomsky.woff2" as="font" type="font/woff2")
        link(rel="stylesheet" href="/assets/css/global.css")
        script(src="/assets/js/global.js" async)
      block rss-link
        link(rel="alternate" type="application/rss+xml" title="RSS" href="https://seewitheyesclosed.com/feed/")
      block title
        title= hardTitle || (title + " | See With Eyes Closed")
      link(rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico")
      noscript
        style.
          .--hide-noscript {
            display: none;
          }
  body
    block mixins
      include mixins/form.pug
      include mixins/verse.pug
      include mixins/settings.pug
    #column
      header
        block header
          h1= title || hardTitle
      block navbar
      nav#main-nav
        span#skip-nav: a.tab-only(href="#content") Skip Navigation
        |
        |
        block navbar-links
          span: a(href="/") Home
          |
          |
          span: a(href="/articles/") Articles
          |
          |
          span: a(href="/subscribe/") Subscribe
          |
          |
          span: a(href="https://benjaminhollon.com" target="_blank" rel="noopener") More
      main#content(tabindex="-1")
        block content
          if (content)
            != md.render(content)
          else
            p This page does not seem to have any content. Check back later!
      +displaySettings
      block footer
        footer
          p
            a(href="/social/") Social
            |  | 
            a(href="/feed/") RSS
            |  | 
            a(href="https://digest.seewitheyesclosed.com" target="_blank" rel="noopener") Digest
            |  | 
            a(href="https://github.com/benjaminbhollon/see-with-eyes-closed" target="_blank" rel="noopener") Code
            
          +verse
          
          p
            a(href="/contact/") Contact Me
            |  | 
            a(href="/policies/privacy/") Privacy Policy
            |  | 
            a(href="/policies/cookies/") Cookie Policy
            |  | 
            a(href="/policies/terms/") Terms of Use
