extends layout.pug

block variables
  - title = "Writing"
  - metaDescription = "A repository of all my literary works, published or not."

block append resources
  link(rel="stylesheet",href="/lib/css/listings.css")
  link(rel="stylesheet" href="/lib/css/article.css")
  script(src="/lib/js/listings.js",async)
    
block content
  .listings
    each work in writing
      .listing
        .listing__card(class=(work.published === false ? "listing__unpublished" : ""))
          if work.image
            img.listing__banner(src=work.image,alt="Banner Image")
          h3 #{work.title}
          p.listing__author
            cite by #{work.author}
          != md.render(work.synopsis.split("\n\n")[0])
          p
            each tag in [work.type, work.genre, work.event]
              if tag !== false
                span.tag() #{tag}
                |
                |
          span.button--red(onclick=(work.published !== false ? "javascript:more('" + work.id + "')" : ""))= (work.published !== false ? "More" : "Unpublished")
        if work.published !== false
          .listing__modal(data-id=work.id)
            a.listing__hide(href="javascript:close('" + work.id + "')") ✕
            if work.image
              img.listing__banner(src=work.image,alt="Banner Image")
            h1 #{work.title}
            p.listing__author
              cite by #{work.author}
            != md.render(work.synopsis)
            if work.excerpt
              details.listing__excerpt
                summary Read Exerpt
                != md.render(work.excerpt)
            a.button--blue(href=work.published.link, target="_blank") Read
          .listing__mask
